.hero-side {
    flex: 1 0 auto;
}

/*Media Query*/
@media only screen and (min-width: 100px) and (max-width: 550px) {
    .hero-side {
        display: none;

        img {
            display: none !important;
        }
    }
    .hero-mobile {
        align-self: center;
        display: grid !important;
        width: 100%;
        margin-top: 2rem;
    }
}    