@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
/* 'Josefin Sans' */
:root {
  /* ### Primary */
  --DesaturatedRed: hsl(0, 36%, 70%);
  --SoftRed: hsl(0, 93%, 68%);
  /* ### Neutral */
  --DarkGrayishRed: hsl(0, 6%, 24%);
  /* ### Gradients */
  --GradientWhite: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --GradientRed: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --Fsize: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  place-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--Fsize);
  font-weight: 400;
  background-image: var(--GradientWhite);
}

main {
  min-width: 375px;
  max-width: 1160px;
  display: flex;
  justify-content: center;
  background-image: url("../images/bg-pattern-desktop.svg");
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3764705882);
}

/*Media Query*/
@media only screen and (min-width: 100px) and (max-width: 550px) {
  main {
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}
.info-side {
  display: flex;
  flex-direction: column;
  flex: 1.5 0 auto;
  padding: 3.5rem 8.5rem !important;
}
.info-side .logo {
  max-width: 140px;
}
.info-side h1 {
  margin-top: 6rem;
  text-transform: uppercase;
  font-weight: 600;
  word-wrap: break-word;
  letter-spacing: 20px;
  line-height: 60px;
  font-size: 55px;
}
.info-side h1 span {
  font-weight: 300;
  color: var(--DesaturatedRed);
}
.info-side p {
  margin-top: 1.5rem;
  font-size: 15px;
  color: var(--DesaturatedRed);
}
.info-side input {
  all: unset;
  box-sizing: border-box;
  padding: 0.7rem 2rem;
  width: 85%;
  border: 1px solid rgba(128, 128, 128, 0.555);
  border-radius: 30px;
}
.info-side input:focus {
  border-color: var(--DesaturatedRed);
}
.info-side .input-invalid {
  border-color: var(--SoftRed);
}
.info-side #submitArrow {
  width: 20%;
  padding: 0.7rem 2rem;
  position: absolute;
  top: 0;
  right: 5%;
  background-image: var(--GradientRed);
}
.info-side #submitArrow:active {
  filter: brightness(120%) drop-shadow(0 5px 5px rgba(0, 0, 0, 0.3568627451));
  border-color: rgba(255, 255, 255, 0);
}
.info-side #errorIcon {
  display: none;
  position: absolute;
  top: 27%;
  right: 28%;
}
.info-side #errorMessage {
  display: none;
  color: rgba(255, 0, 0, 0.753);
}
.info-side ::placeholder {
  color: rgba(128, 128, 128, 0.781);
}

/*Media Query*/
@media only screen and (min-width: 100px) and (max-width: 550px) {
  .info-side {
    text-align: center;
    padding: 1.5rem 1.5rem !important;
  }
  h1 {
    margin-top: 2rem !important;
    font-size: 45px !important;
  }
  input {
    text-align: start !important;
  }
  ::placeholder {
    text-align: start;
  }
}
@media only screen and (min-width: 560px) and (max-width: 1009px) {
  .info-side {
    padding: 3.5rem 7rem !important;
  }
  h1 {
    margin-top: 2rem !important;
  }
}
@media only screen and (min-width: 1010px) and (max-width: 1040px) {
  .info-side {
    padding: 3.5rem 4.5rem !important;
  }
  h1 {
    margin-top: 2rem !important;
  }
}
@media only screen and (min-width: 1041px) and (max-width: 1130px) {
  .info-side {
    padding: 3.5rem 6.5rem !important;
  }
  h1 {
    margin-top: 3rem !important;
  }
}
.hero-side {
  flex: 1 0 auto;
}

/*Media Query*/
@media only screen and (min-width: 100px) and (max-width: 550px) {
  .hero-side {
    display: none;
  }
  .hero-side img {
    display: none !important;
  }
  .hero-mobile {
    align-self: center;
    display: grid !important;
    width: 375px !important;
    margin-top: 2rem;
  }
}/*# sourceMappingURL=index.css.map */